<mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="!list"></mat-progress-spinner>

<div class="main-container" *ngIf="list">
  <div class="header" >   
    <button mat-fab color="primary" routerLink="">
      <mat-icon>keyboard_backspace</mat-icon>
    </button> 
    <div class="title-description-box">
      <span class="header-title">{{list.name}}</span>
      <span class="subtitle">{{list.description}}</span>
    </div>
    <span class="fill-remaining-space"></span>
    <button mat-fab color="warn" (click)='openCreateDialog()'>
      <mat-icon>add</mat-icon>
    </button>    
  </div>   
  
  <div class="flex-display">
    <div class="drop-container">
      <h2>To do</h2>
    
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)">
        <span *ngIf="!todo || todo.length === 0">Nothing left to do! Enjoy!</span>
        <app-todo-card *ngFor="let item of todo" cdkDrag [toDoItem]="item"></app-todo-card>
      </div>
    </div>
    
    <div class="drop-container">
      <h2>Done</h2>
    
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)">
        <span *ngIf="!done || done.length === 0">Start working!</span>
        <app-todo-card *ngFor="let item of done" [toDoItem]="item" cdkDrag></app-todo-card>
      </div>
    </div>
  </div>
  <div *ngIf="(todos == null || todos.length === 0)"><span>Add new TODOs by pressing big red button.</span></div>
</div>