.card-container {
  margin: 5px;
  display: flex;
}

.subtitle {
  margin-bottom: 0px;
  word-break: break-word;
}

.card-header {
  width: 100%;
  justify-content: space-between;
}

.mobile-buttons-alignement {
  text-align: center;
}