<h1 mat-dialog-title>Create new TODO</h1>
<div mat-dialog-content [formGroup]="form">
    <p>Assignee</p>
    <mat-form-field>
      <input matInput formControlName="assignee" >
    </mat-form-field>
    <div *ngIf="form.controls['assignee'].errors" class="error-text">
      Provide at least 3 characters
    </div>
    <p>Description</p>
    <mat-form-field>
      <input matInput formControlName="description">
    </mat-form-field>
    <div *ngIf="form.controls['description'].errors" class="error-text">
      Provide at least 3 characters
    </div>
    <p>DueDate</p>
    <mat-form-field>
      <input matInput formControlName="dueDate">
    </mat-form-field>
    <div *ngIf="form.controls['dueDate'].errors" class="error-text">
      Provide at least 3 characters
    </div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save(data)" [disabled]="!form.valid" >Create</button>
</div>