:host {
  flex: 1;
}

.card-container {
  margin: 5px;
  display: flex;
}

.checkbox-right-bot {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.card-header{
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
}

::ng-deep .mat-card-header-text {  
  max-width: 80%;  
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  flex: 1;
  margin: 0px !important;
}