.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: #eee;
}

.header {
  display: flex;
  margin-bottom: 10px;

  .title-description-box {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    .header-title {
      font-size: 24px;
      font-weight: 500;
      align-self: center;
    }

    .subtitle {
      margin-bottom: 0px;
      word-break: break-word;
    }
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}