<mat-card class="card-container">    
    <mat-card-header>
      <mat-card-title>Title: {{toDoItem.description}}
      </mat-card-title>
      <mat-card-title>Due date: {{toDoItem.dueDate | date }}
      </mat-card-title>
      <mat-card-title>Assignee: 
        <app-assignee *ngIf="toDoItem.assignee" [assignee]="toDoItem.assignee"></app-assignee> 
        <span *ngIf="!toDoItem.assignee">Nobody assigned :(</span> 
      </mat-card-title> 
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="button-right">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-checkbox [(ngModel)]="checked" (ngModelChange)="onCheckboxChange($event)" class="checkbox-right-bot" [labelPosition]="'before'">Is Done?</mat-checkbox>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit()">
          <mat-icon>build</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="remove()">
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </mat-card-header>
</mat-card>