<mat-sidenav-container class="container">
  <mat-sidenav mode="side" closed>Filters</mat-sidenav>
  <mat-sidenav-content> 
    <div class="header">
      <span class="header-title">TODO Lists</span>
      <span class="fill-remaining-space"></span>
      <button mat-fab color="warn" (click)='openDialog()'>
        <mat-icon>add</mat-icon>
      </button>
    </div>   
    <div *ngIf="(multiListState$ | async).items.count === 0">Add TODO's with big red button.</div>
    <app-list-card *ngFor="let toDoList of (multiListState$ | async).items" [toDoList]="toDoList"></app-list-card>
  </mat-sidenav-content>
</mat-sidenav-container>
